body/*{
background: url(img/face.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;*/

/*}*/

#container{
    height: 100px;
    width: 100%;
    background-color: white;
}

div.image {
    content:url(img/face.jpg);
    height: 60%;
    width: 100%;
}

h1{
    text-align: center;
    color:white;
    margin-top:50px;
    font-size: 4em;
}

form{
    text-align: center;
    margin: 0 auto;



}